body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .4px;
    color: #283747;    
}
/*LOGIN*/

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 370px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: #3C4861;
}

.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}

.loginBox h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}

.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}

.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
/* ::placeholder
{
	color: rgba(255,255,255,.5);
} */
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}

.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}

.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

/*FIN LOGIN */

.container{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Aside Menù - Enlaces*/

.bloque-menu{
    width: 250px;
    min-height: 100vh;
    height: 100%;
    float: left;
    outline: 1px solid #ecf0f1;
    background-color: #ecf0f1;
    transition: all 400ms;
    position: fixed;
    z-index: 400;
}

.bloque-menu #imagen_usuario{
    width: 100%;
    height: 280px;
    display: block;
}

.mostrar{
    transform: translateX(0) !important;
}

.menu-oculto{
    position: absolute;
    font-size: 2rem;
    display: none;
    right: 10px;
    top: 15px;
}

.menu-oculto:hover{
    cursor: pointer;
}

.box-user {
    padding: 10px;
    background-color:  #ecf0f1   ;
    color: #111;
    font-weight: bold;
}

.img-user{
    display: block;
    width: 100%;
}

.datos-usuario{
    font-size: .8rem;
    position: relative;
}

.datos-usuario img{
    position: absolute;
    top: 0;
}

.datos-usuario label{
    padding-left: 20px;
}

/* bloque Enlaces */

.menu-funciones{
    text-align: left;
}

.menu-funciones ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu-funciones ul li{
    height: 50px;
    position: relative;
}

.menu-funciones ul li a img{
    position: absolute;
    bottom: 10px;
}

.menu-funciones ul li a label{
    padding-left: 30px;
}

.menu-funciones ul li a{
    padding-left: 10px;
    color:  #5f6a6a ;
    width: 100%;
    height: 100%;
    padding-top: 20px ;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
}

.menu-funciones ul li a:hover{
    background-color:  #fff ;
}




/* Bloque Container Principal*/

/*-- bloque titulo y horario --*/
.bloque-main{
    width: calc(100% - 250px);
    height: 100vh;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    left: 250px;
    background-color: #fff;
}

.bloque-main .horario {
    font-size: .9rem;
    margin-top: 0;
}

.bloque-main h1 {
    margin-bottom: 0;
}
/*-- Fin bloque titulo y horario --*/


/* ADMINISTRACIÓN ARCHIVOS ::: FORMULARIO SUBIR ARCHIVO */


    /*  CUADRADO
    */
    .boton-ver-formulario, .boton-buscar-archivo{
        background: #fff;
        border: 1px solid #1B4F72;
        color: #1B4F72;
        transition: 0.5s;
        padding: 8px 10px;
        border-radius: 5px;
        float: left;
        margin-bottom: .3rem;
    }

    /*
        CIRCULO
    .boton-ver-formulario{
        background: #fff;
        border: 1px solid #1B4F72;
        color: #1B4F72;
        transition: 0.5s;
        padding: 8px 10px;
        border-radius: 50%;
    } */

    /* Buscar Archivo 1B4F72*/
    
    .posicion-btn-plus{
        width: 100%;
        border-top: 1px solid #ccc;
        padding-top: .3rem;
    }

    .boton-buscar-archivo{
        border: 1px solid #1B4F72;
        margin-left: .3rem;
        border-radius: 5px 0 0 5px;
        /* padding: .6rem; */
        height: 2.3rem;
    }

    .boton-ver-formulario:hover, .boton-buscar-archivo:hover{
        background: #1B4F72;
        color: #fff;
        transition: 0.3s;

    }

    .formulario-buscar{
        border: 1px solid #1B4F72;
        width: calc(100% - 80px);
        border-radius: 0 5px 5px 0;
        padding: 0;
        float: left;
        box-sizing: border-box;
    }

    .input-buscar{
        border-radius: 0 5px 5px 0;
        border:none;
        height: 2.4rem;
        width: 70%;
        color: #1B4F72;
        padding-left: 10px;
        box-sizing: border-box;
        float: left;
    }

    .input-buscar:focus{
        outline-offset: 0px !important;
        outline: none !important;
    }

    #file{
        display: none;
    }

    /*para boton examinar ocupe todo el ancho*/
    label{
        display: inline-block;
    }

    .boton-examinar-archivo{
        font-size: .8rem;
        background: #1B4F72;
        border: 1px solid #1B4F72;
        color: #fff;
        padding: 10px;
        width: 300px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .boton-examinar-archivo:hover{
        background: #fff;
        color: #1B4F72;
        cursor: pointer;
    }

    #modal{
        background-color: rgba(87, 81, 81, 0.8);
        position: fixed;
        display: none;
        z-index: 100;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .close-modal{
        text-decoration: none;
        position: absolute;
        font-weight: bold;
        color: #051c2b;
        right: 20px;
        top: 10px;
    }

    div .close-modal:hover{
        color: #C0392B;
    }

    #form-archivo-details{
        border: 1px solid rgba(204, 204, 204,.5);
        background-color: #fff;
        border-radius: 20px;
        text-align: center;
        color: #111;
        width: 320px;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top:50%;
    }

    #form-archivo-details .input-form{
        width: 300px;
        height: 25px;
        font-size: .9rem;
        border: 1px solid rgba(204, 201, 201, .7);
        color: rgba(19, 21, 22, 0.6);
        border-radius: 5px;
        padding-left: 10px;
        box-sizing: border-box;
    }

    textarea{
        height: 50px !important;
    }

    #form-archivo-details .btn-submit{
        height: 35px;
    }

    #form-archivo-details .btn-submit:hover{
        background: #283747;
        color: #fff;
        cursor: pointer;
    }

    .mensaje{
        width: 100%;
        overflow: hidden;
        text-align: center;
        background-color: rgba(204, 204, 204, .5);
        /* border: 1px solid #ccc; */
        color: #283747;
        box-sizing: border-box;
        padding: .5rem 1.5rem;
        border-radius: 5px;
    }
/* ADMINISTRACION DE ARCHIVOS ::: BLOQUE ARCHIVO */

    .contenedor-principal-archivo{
        margin-top: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        padding: 10px 20px;
        border-radius: 10px;
        clear: both;
    }
    /* Para los subtitulos de sylabus y Actividades */
    h4{
        padding: 0;
        margin: 0;
    }

    .izquierda{
        float: left;
    }

    .derecha{
        float: left;
        margin-bottom: .5rem;
    }

    .cuadro-archivo{
        background-color: #fff ;
        border: 1px solid #1B4F72;
        border-radius: 10px;
        padding: 10px 10px 0 10px;
        color: #1B4F72;
        margin-top: 5px;
        box-sizing: border-box;
        font-size: .8rem;
        width: 100%;
        overflow: hidden;
    }

    .header{
        display: block;
    }
    .cuadro-archivo .titulo{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 8px;
        margin-right: 1rem;
    }

    .icon-tipo-archivo{
        margin-right: .5rem;
    }

    .cuadro-archivo .fecha {
        font-size: .8rem;
        margin-top: .2rem;
        margin-bottom: .5rem;
    }

    .cuadro-archivo .recuadro-bordeado-iconos{
        border: 1px solid #1B4F72;
        border-radius: 5px;
        padding: 2px 10px;
        margin-right: 5px;
    }

    .cuadro-archivo a{
        color: #1B4F72;
        text-decoration: none;
    }

    .masdeuno{
        background-color: #1B4F72;
        color: #fff;
    }

    .masdeuno .masdeuno-enlace{
        color: #fff;
        text-decoration: none;
    }

    .cuadro-archivo a:hover{
        text-decoration: underline;
    }

    .cuadro-archivo .detalles{
        clear: both;
        display: none;
        transition: all .2s;
    }

.contenedor-principal-archivo .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.contenedor-principal-archivo .active, .accordion:hover {
    background-color: #ccc;
}

.contenedor-principal-archivo .box-syllabus .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/* FIN BLOQUE ADMINISTRACION ARCHIVOS  */

/* PAGINA LISTA CURSOS */
.box-lista-cursos{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 10px 20px 0px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.box-lista-cursos .combo-box-cursos{
    width: 100%;
    box-sizing: border-box;
}

.item-curso{
    width: 300px;
    min-height: 230px;
    margin: 5px;
    outline: 1px solid #ccc;
    float: left;
    position: relative;
}

.item-curso .name-curso{
    width: 100%;
    height: 80px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background: #1a5276;
    color: white;;
}

.item-curso .name-curso h4{
    font-weight: 100;
}

.item-curso .descripcion-curso{
    padding: 0 20px 10px 20px;
    overflow: hidden;
    font-size: .9em;
}

.item-curso .descripcion-curso p{
   line-height: .5em;
}

.btn-desactivado{
    float: right;
    padding: 10px 20px;
    box-sizing: border-box;
    background:  #C0392B ;
    color: #fff;
    text-decoration: none;
}

.btn-activado{
    position: absolute;
    bottom: 10px;
    right: 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    background:  #1abc9c ;
    color: #fff;
    text-decoration: none;
}

/* PAGINA REGISTRO CURSOS*/

.combo-box-cursos{
    width: 300px;
    height: 28px;
    padding-left:10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* PAGINA LISTA ALUMNOS*/
.box-lista-alumnos{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}

.box-lista-alumnos .label{
    float: right;
    margin-right: 2rem;
}

.box-lista-alumnos a{
    text-decoration: none;
    color: #111;
}

.box-lista-alumnos span label{
    float: right;
    margin-right: 1.4rem;
}

.box-lista-alumnos a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.box-lista-alumnos table{
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.box-lista-alumnos span{
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    display: block;
    font-weight: 100;
    background-color: #2471a3;
    color: #fff;
    overflow: hidden;
}

.box-lista-alumnos table thead th{
   padding: 5px 0;
}

.box-lista-alumnos span{
    font-size: .9rem;
}

.bloque-main span, .bloque-main .box-lista-alumnos{
    font-size: .9rem;
}

.bloque-main h3{
    padding: 0;
    margin: 0
}

.item-curso .name-curso .notification{
    background-color: #fff;
    border: 1px solid  #1a5276;
    padding: 3px 8px 1px 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.item-curso .name-curso .notification img{
    background-color: #fff;
}

.item-curso .name-curso .notification a{
    color: #1a5276;
    margin-top:0;
    text-decoration: none;
}

@media (min-width: 1000px){
    /* Iconos de acciones eliminar, descargar y contar descargas por archivo/*/
    .derecha{
        float: right;
    }
}

@media (max-width: 680px){
    .bloque-menu{
       position: absolute;
       transform: translateX(-250px);
    }

    .menu-oculto{
        display: block;
    }

    .bloque-main{
        width: 100%;
    }
}