body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .4px;
    color: #283747
}

.container{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bloque-menu{
    width: 250px;
    height: 100vh;
    float: left;
    outline: 1px solid #ecf0f1;
    background-color: #fff;
    transition: all 400ms;
    position: fixed;
    z-index: 400;
}

.bloque-menu #imagen_usuario{
    width: 100%;
    height: 280px;
    display: block;
}

.mostrar{
    /* display: block !important; */
    transform: translateX(0) !important;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 10; */
}

.menu-oculto{
    position: absolute;
    font-size: 2rem;
    display: none;
    right: 10px;
    top: 15px;
}

.menu-oculto:hover{
    cursor: pointer;
}

.box-user {
    padding: 10px;
    background-color:  #ecf0f1   ;
    color: #111;
    font-weight: bold;
}

/* .box-user .img-user{
    width: 100%;
} */

.img-user{
    display: block;
    width: 100%;
}

.datos-usuario{
    font-size: .8rem;
    position: relative;
}

.datos-usuario img{
    position: absolute;
    top: 0;
}

.datos-usuario label{
    padding-left: 20px;
}

/* bloque funciones */

.menu-funciones{
    text-align: left;
}

.menu-funciones ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    /* background-color: #77b9b7; */
}

.menu-funciones ul li{
    height: 50px;
    position: relative;

    /* background-color: #ccc; */
    /* outline: 1px solid gray; */
}
.menu-funciones ul li a img{
    position: absolute;
    bottom: 10px;
}

.menu-funciones ul li a label{
    padding-left: 30px;
}

.menu-funciones ul li a{
    padding-left: 10px;
    color:  #5f6a6a ;
    width: 100%;
    height: 100%;
    padding-top: 20px ;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
}

.menu-funciones ul li a:hover{
    background-color:  #ecf0f1 ;
}


/* Bloque Container Principal*/

/*-- bloque titulo y horario --*/
.bloque-main{
    width: calc(100% - 250px);
    height: 100vh;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    left: 250px;
}

.bloque-main .horario {
    font-size: .9rem;
    margin-top: 0;
}

.bloque-main h1 {
    margin-bottom: 0;
}
/*-- Fin bloque titulo y horario --*/


/* estilo file upload*/
label{
    display: inline-block;
}

.input-label{
    font-size: .8rem;
    background: #1B4F72;
    color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 12px 0 0 12px; 
}

.btn-subir-file{
    font-size: .8rem;
    background: #1B4F72;
    color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 0 12px 12px 0; 
}

.input-label:hover{
    background: #283747;
    cursor: pointer;
}

.fas{
    margin-right: 10px;
}

#file{
    display: none;
}


.input_inline_file{
    display: inline-block !important;
}
/* fin file upload*/

#modal{
    background-color: rgba(87, 81, 81, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

.close-modal{
    color: #051c2b;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

div .close-modal:hover{
    color: #C0392B;
}

#form-archivo-details{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(204, 204, 204,.5);
    text-align: center;
    width: 350px;
    color: #111;
    width: 400px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#form-archivo-details .input-form{
    width: 300px;
    height: 25px;
    font-size: .9rem;
    border: 1px solid rgba(204, 201, 201, .7);
    color: rgba(19, 21, 22, 0.6);
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

textarea{
    height: 45px !important;
}

#form-archivo-details .btn-submit{
    height: 35px;
}

#form-archivo-details .btn-submit:hover{
    background: #283747;
    color: #fff;
    cursor: pointer;
}

/* Block Administración de archivos */
.box-content-file{
    background-color: #1B4F72 ;
    border: 1px solid #1B4F72;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    /* color: #1B4F72; */
    margin-top: 5px;
    box-sizing: border-box;
    font-size: .8rem;
    width: 100%;
    position: relative;
}

.box-content-file .block-file{
    display: block;
    padding-left: 5px;
    position: relative;
}

.box-content-file .block-file label{
    padding-left: 35px;
}

.box-content-file .block-file .icon-file{
    margin-right: 10px;
    top:0;
    position: absolute;
}

.box-content-file .titulo{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 8px;
}

.box-content-file .fecha {
    font-size: .8rem;
    margin-bottom: 10px;
}

.box-content-file .view_details{
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 8px;
}

.box-content-file .download{
    margin-left: 5px;
    color: white;
    text-decoration: none;
    background-color: #CB4335  ;
    /* background-color: #14D18D  ; */
}

.box-content-file .download-cero{
    
    background-color: transparent ;
}

.box-content-file .download a{
    color: white;
    text-decoration: none;
}

.box-content-file .download a:hover{
    text-decoration: underline;
}

.box-content-file .descripcion{
    margin-top: 10px;
    margin-bottom: 5px;
}

.box-content-file .enlace_ocultar{
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    padding: 0 5px;
    text-decoration: none;
    background: #fff;
    border-radius: 50%;
    font-weight: bold;
}

/* para los botones de accion eliminar, ver y cantidad de alumnos que descargaron*/
.box-content-file .enlace_ocultar:hover{
    background: red;
    color: #fff;
}

.box-content-file:hover{
    background-color: #2874A6 ;
    cursor: pointer;
    color: #fff;
}

.file-upload .box-content-file:hover> .enlace_ocultar{
    opacity: 1;
}


/* Fin de block Administración de archivos */

.file-upload{
    margin-top: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 10px;
}

h4{
    padding: 0;
    margin: 0;
}

.file-upload .box-content-file .enlace_ocultar{
    opacity :0.0;
    transition: all 0.3s;
}

/* toggle class*/



@media (max-width: 680px){
    .bloque-menu{
       /* display: none ; */
       position: absolute;
       transform: translateX(-250px);
    }

    .menu-oculto{
        display: block;
    }

    .bloque-main{
        width: 100%;
    }
}

/* @media (min-width: 681px){
    .bloque-menu{
        position: static;
    }
} */


/* PAGINA LISTA CURSOS */
.box-lista-cursos{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 10px 20px 0px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.box-lista-cursos .combo-box-cursos{
    width: 100%;
    box-sizing: border-box;
}

.box-lista-alumnos{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}

.item-curso{
    width: 300px;
    min-height: 230px;
    margin: 5px;
    outline: 1px solid #ccc;
    float: left;
    position: relative;
}

.item-curso .name-curso{
    width: 100%;
    height: 80px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background: #1a5276;
    color: white;;
}

.item-curso .name-curso h4{
    font-weight: 100;
}

.item-curso .descripcion-curso{
    padding: 0 20px 10px 20px;
    overflow: hidden;
    font-size: .9em;
}

.item-curso .descripcion-curso p{
   line-height: .5em;
}

.btn-desactivado{
    float: right;
    padding: 10px 20px;
    box-sizing: border-box;
    background:  #C0392B ;
    color: #fff;
    text-decoration: none;
}

.btn-activado{
    /* float: right; */
    position: absolute;
    bottom: 10px;
    right: 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    background:  #1abc9c ;
    color: #fff;
    text-decoration: none;
}


/* PAGINA REGISTRO CURSOS*/ 

.combo-box-cursos{
    width: 300px;
    height: 28px;
    padding-left:10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* PAGINA LISTA ALUMNOS*/
.box-lista-alumnos a{
    text-decoration: none;
    color: #111;
}

.box-lista-alumnos a:hover{
    text-decoration: underline;
}

.box-lista-alumnos table{
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.box-lista-alumnos span{
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    display: block;
    font-weight: 100;
    background-color: #2471a3;
    color: #fff;
}

.box-lista-alumnos table thead th{
   padding: 5px 0;
}

.box-lista-alumnos span{
    font-size: .9rem;
}



/* LISTA ALUMNOS */
.bloque-main span, .bloque-main .box-lista-alumnos{
    font-size: .9rem;
}

/* .bloque-main span{
    border: 1px solid #ccc;
    padding: 4px 8px;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
} */

.bloque-main h3{
    padding: 0;
    margin: 0
}


.item-curso .name-curso .notification{
    background-color: #fff;
    border: 1px solid  #1a5276;
    padding: 3px 8px 1px 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.item-curso .name-curso .notification img{
    background-color: #fff;
}

.item-curso .name-curso .notification a{
    color: #1a5276;
    margin-top:0;
    text-decoration: none;
}